@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,html,#root{
  width: 100%;
  height: 100%;
  background: rgb(44,22,88);
  background: linear-gradient(90deg, rgba(44,22,88,1) 21%, rgba(18,6,2,1) 50%, rgba(59,18,140,1) 78%);
}
.header{
  text-shadow: 0 0 6px rgba(20, 5, 5, 0.5),
  0 0 6px rgba(29, 28, 28, 0.5),
  0 0 6px rgba(255, 255, 255, 0.5);
}
.header2{
  text-shadow: 0 0 6px rgba(20, 5, 5, 0.5),
  0 0 6px rgba(65, 6, 6, 0.5),
  0 0 6px rgba(255, 255, 255, 0.5);
}

.shadow{
 
  box-shadow: rgba(231, 226, 226, 0.2) 0px 2px 8px 0px;
}

h5{
  color: #bcb9be;
}
.background{
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #25103a, #53217c, #13021d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #25103d, #3f1963, #0c021b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-2{
  background: linear-gradient(to right, rgb(102, 17, 68), rgb(60, 16, 83));
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(241, 240, 240, 0.17) 0px 12px 13px, rgba(255, 254, 254, 0.09) 0px -3px 5px;
}
.shadow2{
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  filter: blur(20px);
}


.textgradient{
    background: linear-gradient(to right, #ddcb29, #a5088b, #6765c9);
    background-clip: text;
    color: transparent;
}
.textgradient3{
    background: linear-gradient(to right, #ddcb29, #a5088b, #619fe6);
    background-clip: text;
    color: transparent;
}
.textgradient2{
  background: rgb(15,60,153);
background: linear-gradient(0deg, rgb(219, 162, 37) 10%, rgb(202, 34, 118) 53%, rgb(80, 46, 173) 80%);
background-clip: text;
color: transparent;
}
.circle{
  width: 550px;
  height: 550px;
  /* background-color: rgb(83, 2, 83); */
  border-radius: 50%;
  position: absolute;
  /* mix-blend-mode:difference; */
  overflow: hidden;
 filter: blur(20px);

}
.spannn{
  color: rgb(67, 3, 85);
}
.background-3{
  background: rgb(44,22,88);
background: linear-gradient(90deg, rgba(44,22,88,1) 21%, rgba(18,6,2,1) 50%, rgba(59,18,140,1) 78%);

}

.box{
  filter:drop-shadow(1px 3px 10px #420530); ;
}
.box2{
  filter:drop-shadow(1px 3px 10px #3730a3); ;
}

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.shadow3{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 80px 80px -22px inset, rgba(0, 0, 0, 0.3) 0px 80px 46px -18px inset;
}

.stroke{
  -webkit-text-stroke: 2px white;
}
/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}
::-webkit-scrollbar-button {
  display: none;
}
/* Track (the area behind the scrollbar) */
::-webkit-scrollbar-track {
  background: #530796; /* Light background for the track */
}

/* Handle (the draggable scrolling element) */
::-webkit-scrollbar-thumb {
  background: #7c46e9; /* Vibrant purple color */
  border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #130331; /* Slightly darker purple on hover */
}

/* Firefox scrollbar (requires a different approach) */
* {
  scrollbar-width:20px;
  scrollbar-color: #69686d #36045e;
}

